<app-sidemenu></app-sidemenu>
<div style="width:95%;float:right;background-color: #fff3eb;">
   <app-header ></app-header><br>
  
   <div class="container-fluid">
       
            <div class="row">
                    <div class="col-md-12">
                        <h4 class="Profileh4">Profile Settings</h4>
                        </div>
            </div>

         
    <form name="form"  #f="ngForm" (ngSubmit)="f.form.valid && SubmitSurveyor(model)"  novalidate>
        <div class="settingbox">
            <div class="row">

            
                <div class="col-md-4 text-center">
                    <div class="imagewithbutton">
                        <!-- <img src="assets/image/avatar1.png" (onchange)="changeImage()" accept="image/jpeg, image/png" alt="" style="width: 183px;height:183px">
                        <input id="input-file" class="upload-image" (onchange)="changeImage()" type="file"    name="avatar" accept="image/jpeg, image/png">


                        <div>
                            <button type="button"  class="btn" >Upload Photo</button>
                         </div> -->
                         <div class="image-container">
                            <img [src]="url ? url : 'assets/image/avatar1.png'" class=""> <br/>
                            <input type='file' (change)="onSelectFile($event.target.files)" class="select-profile-picture">
                            <span class="message"><button class="btn" style="background-color: #ffdbc5">Update Photo </button> </span>
                        </div>
                          
                           
                         

                    </div>
                </div>
                <div class="col-md-8">
                   <div class="pinfo">
                        <h5>Personal Information</h5>
                        <hr>
                        <table>
                            <tr style="height:55px">
                                <td style="width:auto;">
                                   <span>Full Name:</span> 
                                </td>
                                <td>
                                    <input type="text" class="box1 form-control" id="firstname" placeholder="FirstName" name="firstname" style="width:100%" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required> 
                                    <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                                        <div *ngIf="firstName.errors.required">First Name is required</div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="box1 form-control" id="lastname" placeholder="LastName" name="lastName" style="width:100%" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required> 
                                    <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                                        <div *ngIf="lastName.errors.required">Last Name is required</div>
                                    </div>
                                </td>
                            </tr>
    
                            <tr style="height:60px">
                                <td style="width:auto">
                                    <span>Date of Birth:</span>
                                </td>
                                <td>
                                    <input type="date" class="box1 form-control" id="dob"  name="dob" style="width:100%" [(ngModel)]="model.dob" #dob="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dob.invalid }" required> 
                                    <div *ngIf="f.submitted && dob.invalid" class="invalid-feedback">
                                        <div *ngIf="dob.errors.required">Date is required</div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="height:60px">
                                <td style="width:auto">
                                    <span>Gender:</span>
                                </td>
                                <td>
                                    <select name="gender" class="form-control" style="width:100%" [(ngModel)]="model.gender" #gender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" required>
                                            <option value="">Select Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                    </select>
                                    <div *ngIf="f.submitted && gender.invalid" class="invalid-feedback">
                                        <div *ngIf="gender.errors.required">Gender is required</div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                   </div> 

                   <div class="cinfo">
                        <h5>Contact</h5>
                        <hr>

                            <div class="form-group">
                                <label for="email">UserName:</label>
                                <input type="text" class="box1 form-control" id="username" placeholder="UserName" name="username" [(ngModel)]="model.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required>
                                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                                    <div *ngIf="username.errors.required">User Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="email">Email:</label>
                              <input type="email" class="box1 form-control" id="email" placeholder="abcd@gmail.com" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                            </div>
                            </div>
                            <div class="form-group">
                              <label for="con">Contact:</label>
                              <input type="text" class="box1 form-control" id="contact" placeholder="99999999999" name="contact" [(ngModel)]="model.contact" #contact="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contact.invalid }" required minlength="10" maxlength="10">
                              <div *ngIf="f.submitted && contact.invalid" class="invalid-feedback">
                                <div *ngIf="contact.errors.required">Contact No is required</div>
                                <div *ngIf="contact.errors.maxlength">Contact No cannot be more than 10 digits</div>
                                <div *ngIf="contact.errors.minlength">Contact No cannot be less than 10 digits</div>
                             </div> 
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="box1 form-control" id="password" placeholder="Enter password" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                   </div>

                   <div class="Notification">
                        <h5>Notification</h5>
                        <hr>
                        <ul>
                            <li><label for="muhRadio1"><input type="radio" name="muhRadio" value=""/> Email</label></li>
                            <li><label for="muhRadio2"><input type="radio" name="muhRadio" value=""/> SMS Mobile</label></li>
                            
                        </ul>
                   </div>

            



                   <div class="buttonprofile">
                        <div class="row"  *ngIf="showMsg">
                                <div class="col-md-5">
                                  <p class="alert alert-success">
                                     {{successmsg}}
                                    </p>
                                </div>
                         </div>
                        <button type="button" class="btn">Cancel</button>
                        <button type="submit" class="btn">Add Surveyor</button>
                   </div>
                   


                </div>
           
            </div>
            
        </div>
    </form>
    </div>
</div>    