/*******************SideBar with Icon*************/
.sidebar {
	height: 100%;
	width: 5%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	box-shadow: 0 -7px 20px 0 rgba(28, 28, 28, 0.14);
	background-color: #ffffff;
	overflow-x: hidden;
	padding-top: 20px;
	z-index: 1;
  }

  span:focus, span.active{
	outline:none !important; 
  }

 
  
  .sidebar a {
	padding: 10px 8px 20px 0px;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-bottom:10px;
	
  }
  
  .sidebar a:hover {
	color: #818181;
  }
  

  
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }

/*******************SideBar with Icon End*************/



/************Overlay Menu****************/

.overlay {
	height: 100%;
	width: 21%;
	display: none;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	box-shadow: 0 -7px 20px 0 rgba(28, 28, 28, 0.24);
  	background-color: #ffffff;
	}
	
	.overlay-content {
	position: relative;
	top: 10%;
	width: 100%;
	text-align: left;
	margin-top: 30px;
	margin-left:15px;
	}

	.overlay span{
	 display:block;	
	 cursor: pointer;	
	}

	.overlay i{
		padding-right: 15px;
	}
	
	.overlay a {
	/* padding: 8px; */
	text-decoration: none;
	font-family: Gotham;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	transition: 0.3s;
	margin-left:20px;
	}
	
	.overlay .elementshift{
		margin-left: 60px;
		color: #4a4a4a !important;

	}
	
	.overlay .closebtn {
	position: absolute;
	
	top: 5px;
	right: 5px;
	font-size: 35px;
	color:#8f8f8f;
	}
	
	

/************Overlay Menu End****************/	  

