
    <!-- <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <div class="input-group" style="width:30%;margin-left:10%; float:right;border:1px solid black">
            <input type="text" class="form-control" placeholder="Search this blog" style="border-radius:0">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
        </div>
        <div class="nav navbar-nav navbar-right" >
         
          
              
             
        </div>
        
      </nav> -->
      <div class="topnav">
        <img src="assets/image/logo1.svg" alt="" class="setwidth">

       <div class="navbarwidth"> 
         <div class="example">
          <input type="text" class="boxsearch" placeholder="Search Location, Project or Landmark" name="search2">
          <button type="submit"><i class="fa fa-search"></i></button>
          </div>
       
          <a><i class="far fa-comment-alt"></i></a>
          <a ><i class="far fa-bell"></i></a>
          <a style="margin-left:50px"><span style="font-size: 0.875em;vertical-align: middle;font-family: Gotham">Hi,Admin</span>  </a>
          <a style="margin-left:25px" (click)="logout()"><img src="assets/image/avatar1.png" style="width:38px;height:38px">  </a>
        
        
         
       
       </div>
       
      </div>
