#largeModal11 .modal-header{
    border-bottom: 0 !important;
}

#largeModal11 .modal-body{
    width: 75%;
    margin:0 auto;
    font-family: gotham;
}

#largeModal11 .modal-footer{
    border-top: 0;
    width:88%;
}

