<app-sidemenu></app-sidemenu>
<div style="width:95%;height:100vh;float:right;background-color: #fff3eb; ">
   <app-header ></app-header><br>
  
   <div class="container-fluid">

        <div class="row">
                <div class="col-md-12">
                    <h4 class="Profileh4">Profile Settings</h4>
                    </div>
           </div>

        <div class="settingbox">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="imagewithbutton">
                        <img src="assets/image/avatar1.png" alt="" style="width: 183px;height:183px">
                        <div>
                                <button type="button" class="btn">Delete Picture</button>
                                <button type="button" class="btn">Update New</button>
                                
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                   <div class="pinfo">
                        <h5>Personal Information</h5>
                        <hr>
                        <table>
                            <tr>
                                <td>
                                   <p>Full Name</p> 
                                </td>
                                <td>
                                   <p>Abhinav Sharma</p> 
                                </td>
                            </tr>
    
                            <tr>
                                <td>
                                    <p>Joined Date</p>
                                </td>
                                <td>
                                    <p>April 7 2019</p>
                                </td>
                            </tr>
                        </table>
                   </div> 

                   <div class="cinfo">
                        <h5>Contact</h5>
                        <hr>

                        <form>
                            <div class="form-group">
                              <label for="email">Email:</label>
                              <input type="email" class="box1 form-control" id="email" placeholder="abhinav@propertyvibes.com" name="email">
                            </div>
                            <div class="form-group">
                              <label for="pwd">Contact:</label>
                              <input type="password" class="box1 form-control" id="con" placeholder="090 9999 9898" name="con">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="box1 form-control" id="pwd" placeholder="Enter password" name="pwd">
                            </div>
                        </form>    
                   </div>

                   <div class="Notification">
                        <h5>Notification</h5>
                        <hr>
                        <ul>
                            <li><label for="muhRadio1"><input type="radio" name="muhRadio" value=""/> Email</label></li>
                            <li><label for="muhRadio2"><input type="radio" name="muhRadio" value=""/> SMS Mobile</label></li>
                            
                        </ul>
                   </div>

                   <div class="buttonprofile">
                        <button type="button" class="btn">Cancel</button>
                        <button type="button" class="btn">Save Changes</button>
                   </div>
                   


                </div>
            </div>
            
        </div>

    </div>
</div>    