


<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" (click)= "closeNav()">&times;</a>
    <div class="overlay-content">
      <span routerLink="/dashboard"><img src="assets/image/dashboard.svg" alt="" style="width: 28px;height: 28px;"><a>Dashboard</a></span> <br>
      <span>
        <img src="assets/image/building.svg" alt="" style="width: 29px;height: 33px;">
        <a>Property</a><br>
        <a class="elementshift" routerLink="/pendingpropertylist">Pending Property</a><br>
        <a class="elementshift" routerLink="/completedproperty">Completed Property</a><br>
        <a class="elementshift" routerLink="/newproperty">New Property</a></span> <br>
      <span><img src="assets/image/usericon.svg" alt="" style="width: 33px;height: 33px;"><a>Users</a><br><a class="elementshift">Survyers</a><br><a class="elementshift">Expert</a><br><a class="elementshift">Supports</a><br><a class="elementshift">Website Users</a></span> 

      <!-- <span><a>Pending Property</a></span> 
      <span><a>Completed Property</a></span> -->
      <br> <span routerLink="/settings"><img src="assets/image/settings.svg"><a>User Settings </a></span>
    
     
    </div>
  </div>


  <div class="sidebar">
    <a (click)= "openNav()"> <img src="assets/image/menu.svg" alt="" style="width: 28px;height: 14px;"></a>
    <a routerLink="/dashboard"><img src="assets/image/dashboard.svg" alt="" style="width: 28px;height: 28px;"> </a>
    <a routerLink="/allpropertylist"><img src="assets/image/building.svg" alt="" style="width: 29px;height: 33px;"></a>
    <a routerLink="/surveyor"><img src="assets/image/usericon.svg" alt="" style="width: 34px;height: 27px;"></a>
    <a routerLink="/settings"><img src="assets/image/settings.svg" alt="" style="width: 33px;height: 33px;"></a>
  </div>

<!-- <p>Click on the element below to open the fullscreen overlay navigation menu.</p>
<span style="font-size:30px;cursor:pointer">&#9776; open</span> -->